/* 去除常见标签默认的 margin 和 padding */
* {
  margin: 0;
  padding: 0;
}


/* 去除列表默认样式 */
ul,
ol {
  list-style: none;
}

/* 去除a标签默认下划线 */
a {
  text-decoration: none;
}

/* 左浮动 */
.fl {
  float: left;
}

/* 右浮动 */
.fr {
  float: right;
}

/* 双伪元素清除法 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

/* 版心：宽度固定并且水平居中的盒子 */
.container {
  width: 1200px;
  margin: 0 auto;
}
